@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');


body {
    font-family: 'Red Hat Display', sans-serif ;
    background-color: #F6F6F5;
}

h1 {
    all: unset;
    font-size: 7em;
    font-weight: 700;
    color: #363636;
}

.Large {
    font-size: 6em;
    font-weight: 700;
}


p {
    display: inline;
    font-size: 1.2em;
    font-weight: 450;
    color: #000000;
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}

button {
    transition: all 100ms ease;
    /* Button format and layout */
    border: none;
    position: relative;
    display: inline-flex;
    max-width: fit-content;
    flex-grow: 0;

    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: #FFF;

    /* Text format */
    text-decoration: none;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    line-height: normal;
    text-align: left;

    &::before {
        transition: all 100ms ease;
        content: "";
        box-shadow: 6px 6px 0 0 rgb(0, 0, 0);
        mix-blend-mode: overlay;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    &:hover {
        transform: translate(-2px, -2px);
        mix-blend-mode: revert;

        &::before {
            box-shadow: 8px 8px rgba(0,0,0);
        }
    }

    &:active {
        transform: translate(0);
        &::before {
            box-shadow: none;
        }
    }

}
