body {
    overflow-x: clip;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#hero-background {
    position: absolute;
    top: auto;
    left: -300px;
    bottom: auto;
    z-index: -1;
    pointer-events: none;
}

.Scroll {
    flex-direction: row;
    gap: 40px;
    overflow: clip;
    position: relative;
    left: -80px;
    width: 100vw;

    img {
        position: relative;
        mix-blend-mode: exclusion;
        z-index: 1;
    }

}

Section {
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
    position: relative;

}

#Hero {
    overflow-y: clip;
    height: 100%;
    padding-bottom: 0px;
    margin-bottom: -120px;

    #second-div {
        position: relative;
        display: flex;
        flex-direction: row;
        top: -60px;

        #left {
            margin-top: 40px;
            margin-bottom: 100px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            justify-content: center;
        }
    }


    #hero-portrait {
        position: relative;
        right: -80px;
        background: url("assets/bio-photo.png") bottom right;
        background-size: cover;
        box-shadow: 0 20px 30px -5px rgba(0, 0, 0, 0.25);
        overflow-y: visible;
        overflow-x: clip;
        width: 100%;
        aspect-ratio: 16/9;
        top: -40px;
        z-index: 1;

        /* place the top layer directly on top */
        img {
            position: absolute;
            bottom: 0;
            right: 0;
            aspect-ratio: initial;
            height: 134.3128781331029%;
            z-index: 3;
            pointer-events: none;
        }
    }

}

#About {
    background-color: #53F6A8;

    header {
        position: relative;

        h2 {
            color: #FFFFFF;
        }
    }


}

button {
    padding: 6px 8px;

    span {
        transition: all 100ms ease;
    }

    .Icon-Container {
        position: relative;
    }

    #Chevron {
        opacity: 1;
    }

    #Arrow {
        opacity: 0;
        position: absolute;
        top: 0;
        left: -0.1rem;
    }


    &:hover {
        gap: 10px;

        #Arrow {
            opacity: 1;
        }

        #Chevron {
            opacity: 0;
        }
    }

}
